//-----------------------------------
//- Select
//-----------------------------------
.select(
  ng-class="{'-opened': opened, '-disabled': ss.itemList.length <= 1 }"
  ng-click="ss.openSelect()")
  //-
  //- Select Display
  //-----------------------------------
  h6.select-label(ng-bind="itemLabel")
  h3.select-display(
    ng-class="{'-default': itemSelected.id === 0}"
    ng-bind="itemSelected.name")
  //-
  //- Select List
  //-----------------------------------
  ul.select-list
    li.select-list-item(
      ng-class="{'-active': item.id === itemSelected.id, '-default': item.id === 0}"
      ng-click="ss.selectItem(item)"
      ng-bind="item.name"
      ng-repeat="item in ss.itemList")
