.login(ng-controller="LoginController as lc")
  form.login-form(ng-submit="lc.login(credentials)")
    fieldset.login-field
      input.login-input(
        type="text"
        ng-model="lc.credentials.username"
        placeholder="Usuário")
      input.login-input(
        type="password"
        ng-model="lc.credentials.password"
        placeholder="Senha")
    fieldset.login-field
      button.login-button(type="Submit") Entrar
